@media only screen and (max-device-width: 414px) and 
(max-device-height: 736px) and (orientation : portrait) {
	.top {
		display: none;
	}
	header, main, .content {
		width: 100%;
		margin: 0 auto;
	}
	.logo {
		padding-left: 10px;
	}
	.touch {
		display: block;
		position: absolute;
		right: 10px;
		top: 25px;
	}
	nav {
		display: flex;
		max-height: 100px;
		position: relative;
	}
	nav ul {
		display: none;		
		width: 97%;
		flex-direction: column;
		align-self: center;
		position: absolute;
		top: 80px;
		right: 5px;
	}
	nav li {
		text-align: center;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: #f4f4f4;
		box-shadow: 0 1px 4px rgba(0,0,0,.3);
		margin-left: 0;
	} 
	nav li:hover {
		background: #b9b1b1;
	}
	nav li a:hover {
		cursor: pointer;
		font-size: 1.5rem;
	}
	main {
		display: flex;
		flex-direction: column;
	}
	.search_tag {
		width: 90%;
		margin: 20px auto 0 auto;
	}
	.search_tag ul {
		justify-content: center;
		flex-wrap: wrap;
	}
	.search_tag ul li {
		padding-right: 5px;
		border: 0;
	}
	.search_tag a {
		font-size: 16px;
	}
	.search_tag li:hover {
		background-color: #e8e8e8;
	}
	.container {
		display: flex;
		flex-direction: column;	
		margin: 25px auto 0 auto;		
	}
	.content .line {
		margin: 10px auto 0 auto;
	}
	h2, .content .container:first-child p {
		width: 90%;
		margin: 0 0 0 5%;
		font-size: 16px;
	}
	.container:first-child p {
		font-size: 16px;
	}
	.content .container:first-child {
		margin-top: 10px;
	}
	.content .container:first-child p {
		width: 90%;
		margin: 10px 0 0 5%;		
	}
	.section_item p:nth-child(3) {
		font-size: 14px;		
	}
	section p:nth-child(2), .aside-item p {
		font-size: 16px;		
	}
	.container section:nth-child(2), .container section:nth-child(3), 
	.container section:nth-child(4), .container section:nth-child(5), 
	.container section:nth-child(6){
		margin-top: 13px;
	}
	aside {
		width: 90%;
		margin: 0 auto;
	}
	footer {
		margin: 95px 0 0 0;
	}
	footer .container {
		width: 90%;
		margin-top: 4%;
		flex-direction: row;
	}		
}
@media only screen and (max-device-width: 414px) 
and (max-device-height: 736px) and (orientation : landscape) {
	.top {
		display: none;
	}
	header, main, .content {
		width: 100%;
		margin: 0 auto;
	}
	.logo {
		padding-left: 10px;
	}
	.touch {
		display: block;
		position: absolute;
		right: 10px;
		top: 25px;
	}
	nav {
		display: flex;
		max-height: 100px;
		position: relative;
	}
	nav ul {
		width: 97%;
		flex-direction: column;
		align-self: center;
		position: absolute;
		top: 80px;
		right: 5px;
	}
	nav li {
		text-align: center;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: #f4f4f4;
		box-shadow: 0 1px 4px rgba(0,0,0,.3);
		margin-left: 0;
	} 
	nav li:hover {
		background: #b9b1b1;
	}
	nav li a:hover {
		cursor: pointer;
		font-size: 1.5rem;
	}
	main {
		display: flex;
		flex-direction: column;
	}
	.search_tag {
		width: 90%;
		margin: 20px auto 0 auto;
	}
	.search_tag ul {
		justify-content: center;
		flex-wrap: wrap;
	}
	.search_tag ul li {
		padding-right: 5px;
		border: 0;
	}
	.search_tag a {
		font-size: 16px;
	}
	.search_tag li:hover {
		background-color: #e8e8e8;
	}
	.container {
		display: flex;
		flex-direction: column;	
		margin: 25px auto 0 auto;
	}
	.content .line {
		margin: 10px auto 0 auto;
	}
	h2, .content .container:first-child p {
		width: 90%;
		margin: 0 0 0 5%;
		font-size: 16px;
	}
	.container:first-child p {
		font-size: 16px;
	}
	.content .container:first-child {
		margin-top: 10px;
	}
	.content .container:first-child p {
		width: 90%;
		margin: 10px 0 0 5%;		
	}
	.section_item p:nth-child(3) {
		font-size: 14px;		
	}
	section p:nth-child(2), .aside-item p {
		font-size: 16px;		
	}
	.container section:nth-child(2), .container section:nth-child(3), 
	.container section:nth-child(4), .container section:nth-child(5), 
	.container section:nth-child(6){
		margin-top: 13px;
	}
	aside {
		width: 90%;
		margin: 0 auto;
	}
	footer {
		margin: 95px 0 0 0;
	}
	footer .container {
		width: 90%;
		margin-top: 4%;
		flex-direction: row;
	}		
}